* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


div{
    border: 1px solid black;

}
 body{
    background-image:url(./img/foto7.avif);    
 }
h1,h2{
    color: antiquewhite;
}
.container {
width: 100vw;
height: 100vh;
position: relative;
}
.rightpic {
    float: right; /* Выравнивание по правому краю */
    margin: 2px 15px 5px 5px; /* Отступы вокруг фотографии */
   }
.block{
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
   
}

.color-text {
    color: blanchedalmond;
}
